#adding files
#C:\Users\avidal\Documents\WebApps\clientDashboard\ClientDashBoard\config\connection.js
#C:\Users\avidal\Documents\WebApps\clientDashboard\ClientDashBoard\.env
#C:\Users\avidal\Documents\WebApps\clientDashboard\ClientDashBoard\config\config.json
#.env


